<template>
  <div class=".cruds__edit">
        <form action="/cruds">
            <div>Nome</div>
            <input type="text" class="text_input" v-model='nameEdited'><br>
        <input type="submit" value="Salvar" class = "button-add" @click.prevent="handleEditTrail()">
        <input type="submit" value="Canclear" class="button-back">
    </form>
  </div>
</template>

<script>
export default {
    data(){
        return {
            nameEdited : '',
            trilhas : []
        }
    },

    async asyncData({ app }) {
        return {
          trilhas: await app.$axios.$get("/trilhas")
        };
    },

    methods :{
            handleEditTrail() {
                this.trilhas = this.$axios.$patch(`/trilhas`, {
                    nome: this.nameEdited,
                })
            }
    }
}
</script>

<style lang="scss">
.cruds__edit {
    background-color: #F5F5F5
}

form {
    padding: 6em;
    display: flex-direction;
}

.text_input {
    width: 30em;
    margin-top: 0.5em;
    margin-bottom: 2em;
}

.button-add {
    width: 5.5em;
    height: 2em;
    border: none;
    border-radius: 0.5em;
    background-color: #FF9800;
    color: white;
    margin:0.1em;
}

.button-back {
    width: 6em;
    height: 2em;
    border: none;
    border-radius: 0.5em;
    background-color: red;
    color: white;
    margin:0.1em;
}

.button-add:hover {
    background-color: #ffb366;
}

.button-back:hover {
    background-color: #ff4d4d;
}

</style>
