<template>
  <div class=".cruds__index">
    <table>
      <tr>
        <th class="track">Trilhas</th>
        <th class="option">Opções</th>
      </tr>

          <tr v-for="trilha of trilhas" :key="trilha.id_trilha" :name="trilha.nome">
            <td class="track">{{trilha.nome}}</td>
            <td class="option">
            <nuxt-link to='/cruds/edit'><button class="button-edit">Editar</button></nuxt-link>
            <button class="button-delete" @click.prevent="deleteTrail(trilha.id_trilha)">Excluir</button></td>
          </tr>

    </table>

    <nuxt-link to='/cruds/new'><button class="add">Adicionar nova trillha</button></nuxt-link>

  </div>
</template>

<script>


export default {
    data() {
    return {
      trilhas: []
    }
  },


  async asyncData({ app }) {
    return {
      trilhas: await app.$axios.$get("/trilhas")
    };
  },

  methods: {
      async deleteTrail(id) {
        let result = await this.$axios.$delete(`/trilhas?id_trilha=eq.${id}`);
      }
  }
}
</script>

<style lang="scss">
.cruds__index {
    background-color: #F5F5F5;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 61em;
}


td,th {
    border: 1px solid #dddddd;
    padding: 8px;
    font-size: 16px;
}

.option {
    width: 8.8em;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.button-edit {
    width: 4em;
    height: 2em;
    border: none;
    border-radius: 0.5em;
    background-color: orange;
    color: white;
    margin:0.1em;
}

.button-delete {
    width: 4em;
    height: 2em;
    border: none;
    border-radius: 0.5em;
    background-color: red;
    color: white;
    margin:0.1em;
}

.add {
    margin: 2em;
    width: 12em;
    height: 3em;
    border: none;
    border-radius: 0.5em;
    background-color: #FF9800;
    color: white;
}

.button-edit:hover {
    background-color: #ffb366;
}

.button-delete:hover {
    background-color: #ff4d4d;
}

.add:hover {
    background-color: #ffb366;
}
</style>
