<template>
  <div class=".cruds__new">
        <form action="/cruds">
            <div>Nome</div>
            <input type="text" class="text_input" v-model = "newName"><br>
        <input type="submit" value="Adicionar" class = "button-add" @click.prevent="handleAddTrail()">
        <input type="submit" value="Voltar" class="button-back">
    </form>
  </div>
</template>

<script>
export default {

    data(){
        return {
            newName : '',
            trilhas : []
        };
    },

    async asyncData({ app }) {
        return {
          trilhas: await app.$axios.$get("/trilhas")
        };
    },

    methods :{
            async handleAddTrail() {
                this.trilhas = await this.$axios.$post('/trilhas', {
                    id_trilha: 10,
                    codigo_trilha: "ru3a8u",
                    nome: "legal",
                    descricao: "string",
                    minimo_disciplinas: 0,
                    minimo_modulos: 0
                });
            }
    }
}
</script>

<style lang="scss">
.cruds__new {
    background-color: #F5F5F5
}

form {
    padding: 6em;
    display: flex-direction;
}

.text_input {
    width: 30em;
    margin-top: 0.5em;
    margin-bottom: 2em;
}

.button-add {
    width: 7em;
    height: 2em;
    border: none;
    border-radius: 0.5em;
    background-color: #FF9800;
    color: white;
    margin:0.1em;
}

.button-back {
    width: 6em;
    height: 2em;
    border: none;
    border-radius: 0.5em;
    background-color: #3F51B5;
    color: white;
    margin:0.1em;
}

.button-add:hover {
    background-color: #ffb366;
}

.button-back:hover {
    background-color: #ff4d4d;
}

</style>
