<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<div id="app" class="container">
   <h2>{{titulo}}</h2>
   <ul>
       <li>{{livros[0]}}</li>
       <li>{{livros[1]}}</li>
   </ul>
</div>

</body>
</html>