<template>
  <div class="estrutura">
    <info :discipline="whatDiscipline"/>
  </div>
</template>

<script>

import Info from '@/components/Info.vue'
import { mapGetters } from 'vuex';

export default {

    computed: {
      ...mapGetters(['whatDiscipline'])
    },

    components: {
        Info
    }
}
</script>

<style lang="scss">
.estrutura {
}
</style>

