<template>
  <div class="planejamento">
    <div class="semester-filter">
      <p class="filter-title">Semestres:</p>
      <div v-for="semestre of semestres" :key="semestre.text">
        <div @click="setSelectedSemester(semestre)">{{semestre.text}} | </div>
      </div>
      <div @click="addSemester()">+ Adicionar</div>
    </div>

    <div v-for="trilha of trilhas" :key="trilha.id_trilha" class="tracks">
      <Trail :id_trilha=trilha.id_trilha :nome=trilha.nome />
    </div>

    <!-- Example of Vue using some data -->

  </div>
</template>

<script>
import Trail from '../components/Trail.vue';

export default {
  data() {
    return {
      disciplinas: [],
      trilhas: [],
      modulos: [],
      semestres: [{text: 'Geral', value: ''},
                  {text: '1º', value: 1},
                  {text: '2º', value: 2},
                  {text: '3º', value: 3},
                  {text: '4º', value: 4},
                  {text: '5º', value: 5},
                  {text: '6º', value: 6},
                  {text: '7º', value: 7},
                  {text: '8º', value: 8}],
      selected_semester: {
        text: 'Geral',
        value: ''
      }
    };
  },

  components: {
    Trail
  },

  // Initialize elements in 'data' before rendering page.
  // More info at: https://nuxtjs.org/api/
  async asyncData({ app }) {
    return {
      trilhas: await app.$axios.$get("/trilhas")
    };
  },

  methods: {
    setSelectedSemester(semestre) {
      this.selected_semester = semestre;
      console.log(this.selected_semester)
    },

    addSemester() {
      let lastValue = this.semestres[this.semestres.length - 1].value;
      this.semestres.push(
        { text: `${lastValue + 1}º`,
          value: lastValue}
      );
    }
  }
}
</script>

<style lang="scss">
.planejamento {
  grid-template-areas:
    "filter"
    "track";

  height: 100%;
  width: 100%;
  background-color: #F5F5F5;
}

.semester-filter {
  grid-area: "filter";

  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;

  margin-left: 2em;

  color: blue;
}

.filter-title {
  margin-right: 0.5em;
}

.tracks{
  display: flex;
  flex-direction: column;
  padding-left: 2em;
}

.track-title{
}


.discipline-wrapper {
}
</style>
