<template>

  <div class="plano">
    <h1>Plano</h1>
  </div>
</template>

<script>
export default {
  data() {
    return {
      disciplinas: []
    }
  },

  async asyncData(){
    
  }
}
</script>

<style lang="scss">
.plano {
}
</style>
