<template>
    <div class="bluebox">
        <div v-if="!isAuthenticated" class="adjust">
            <Login />
        </div>
        <div v-else>
            <Logout/>
        </div>
    </div>
</template>

<script>
    // mapGetters importa as funções que eu preciso usar
    import { mapGetters } from 'vuex';

    import Login from '@/components/Login.vue';
    import Logout from '@/components/Logout.vue';

    export default {
        components: {
            Login,
            Logout
        },

        computed: {
            ...mapGetters(['isAuthenticated'])
        }
    }
</script>

<style lang="scss">

/* Caixa azul da lateral superior da sidebar */
.bluebox {
  /* Grid to position the cell itself */
    height: 10em;
    width: 100%;

  background-color: #3F51B5;
}

.adjust {
    height: 100%;
}
</style>
