<template>
    <div class="course">
        <div class="course_status"
             v-bind:style="{ backgroundColor: currentColor}"
             @click="changeStatus()">
            <div v-if="currentStatus === 'bloqueada'">
                &#128274;
            </div>
            <div v-else-if="currentStatus === 'cursada'">
                &#x2713;
            </div>
            <div v-else-if="currentStatus === 'planejada'">
                &#x270E;
            </div>
        </div>
        <div class="course_counter" @click="increment()">{{counter}}</div>
        <nuxt-link to='/estrutura' class="link">
            <div @click="setDiscipline()">
                {{ discipline.codigo_disciplina }}
            <img src="http://cdn.onlinewebfonts.com/svg/img_151567.png" class="info-icon" >
            </div>
        </nuxt-link>
    </div>

</template>


<script>
export default {
    props: ["status", "discipline"],
    //bloqueadas cursadas e planejada

    data(){
        return{
            counter:1,
            currentStatus: this.status,
            currentColor: '#dfdfdf'
        }
    },

    methods:{
        increment(){
            this.counter++;
            let obj = {id_disciplina: this.discipline.id_disciplina, status: this.currentStatus, semestre: this.counter}
            this.$store.commit("updateNewPlan", obj);
        },

        changeStatus() {
            if(this.currentStatus === ''){
                this.currentStatus = 'cursada';
                this.currentColor = '#3F51B5';
            }
            else if(this.currentStatus === 'cursada'){
                this.currentStatus = 'planejada';
                this.currentColor = '#FF9800';
            }
            else if(this.currentStatus === 'planejada') {
                this.currentStatus = '';
                this.currentColor = '#DFDFDF';
            }
            let obj = {id_disciplina: this.discipline.id_disciplina, status: this.currentStatus, semestre: this.counter}
            this.$store.commit("updateNewPlan", obj);
        },

        setDiscipline() {
            let obj = {codigo_disciplina: this.discipline.codigo_disciplina, nome: this.discipline.nome, ementa: this.discipline.ementa}
            console.log(obj);
            this.$store.commit("setDiscipline", obj);
        }
    },


    mounted() {
        if (this.currentStatus == 'bloqueada') {
            this.currentColor = '#9f9f9f'
        }
    }
}

</script>

<style lang="scss">
.course{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.course_status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: $light-color;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;

    font-size: 2em;
}

.course_counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: white;
    color: $dark-color;
    border-style: solid;

    border-width: 0.2rem;
    border-color: black;
    border-radius: 100%;

    width: 1.5rem;
    height: 1.5rem;
}

.info-icon{
    width: 1em;
    height: auto;
}

.link {
    text-decoration: none;
    color: black;
}
</style>
