<template>
    <div class = "description">
        <div>
            <h1 style="color: blue">{{discipline.codigo_disciplina}} - {{discipline.nome}}</h1>
            <p>{{discipline.ementa}}</p>
        </div>
    </div>
</template>

<script>
export default {

    props: {
        discipline: ''
    }
}
</script>


<style lang="scss">

.description {
    background-color: white;
}

</style>