<template>
  <div class="aside__login">
    <div class="login"
         @click="showLogin()"> Fazer login </div>

    <div v-if="loginForm">
      <div class="dim"  title="Event"></div>
      <div class="wrapper-center">
        <div @click="cancelLogin()" class="cancel-login"> x </div>
        Email
        <input type="email" v-model="email"/>
        Senha
        <input type="password" v-model="password"/>

        <button type="submit" @click="login" @submit.prevent>
          Entrar
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: '',
      password: '',
      loginForm: false
    }
  },

  methods: {
    async login() {
      // TODO: Implement login logic here
      // TIP: Method is `async` because it should use "await this.$axios"
      console.log(`User: ${this.email} ${this.password}`);

      let token = await this.$axios.$post("/rpc/autenticar",
        { email: this.email,
          senha: this.password
        }
      );

      this.$axios.defaults.headers.common['Authorization'] = `Bearer ${token}`;
      console.log('token');
      console.log(token);

      // Save token at global vuex store to be used by auth middleware
      this.$store.commit("setToken", { token: token });
      this.$store.commit("setEmail", { email: this.email }); 

      //Carregar os planos em plans 

      this.cancelLogin();
    },

    showLogin() {
      this.loginForm = true;
    },

    cancelLogin() {
      this.loginForm = false;
    }

  }
}
</script>

<style lang="scss">
.center__login {
  position: fixed;

  margin-left: -25em;
  margin-top: -10em;

  top:50%;
  left: 50%;
}

.wrapper-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;

  height: 20em;
  width: 50em;
  border-radius: 0.3em;
  background-color: white;
  z-index:1 !important;

  position: absolute;
  color: blue;
}

.user-icon {
  height: 5em;
  width: auto;
}

.aside__login {

  width: 100%;
  height: 100%;
  display: flex;

  justify-content: center;
  align-content: center;
  align-items: center;
}

.login {
  font-size: 1.5em;
  color: white;
}

.cancel-login {
  color: blue;
  text-align: right;
  margin-bottom: 1em;
}

.cancel-login:hover {
  color: red;
}

.dim {
    height:100%;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:1 !important;
    background-color:black;
    filter: alpha(opacity=75); /* internet explorer */
    -khtml-opacity: 0.75;      /* khtml, old safari */
      -moz-opacity: 0.75;      /* mozilla, netscape */
           opacity: 0.75;      /* fx, safari, opera */
}

input {
  width: 100%;
  height: 5em;
  margin-bottom: 2em;
  border: none;
  border-bottom: 2px solid gray;
}

button{
  margin-top: 2em;
  background-color: #3F51B5;
  border: none;
  height: 5em;
  color: white;
}

button:hover {
  background-color: green;
}


</style>
