<!-- Logout Component-->

<template>
    <div class="wrapper">
        <div>
            <img src="http://svgur.com/i/65U.svg" class="user-icon">
        </div>
        <div class="user-name">{{person.nome}}</div>
        <div @click="handleLogout()"
             class="logout">
            <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/30459-200.png" class="logout-icon">
        </div>
    </div>
</template>

<script>

    // import {logout} from '@/components/Auth.vue'
    export default {
        data() {
            return {
                user: 'Usuário',
                person: ''
            }
        },

        async mounted() {
            let parsedToken = JSON.parse(atob(this.$store.state.token.split('.')[1]));
            console.log('parsedToken');
            console.log(parsedToken);

            let personUser = await this.$axios.$get(`/pessoas_geram_usuarios?id_usuario=eq.${parsedToken.id_usuario}`);
            console.log(personUser);
            let person = await this.$axios.$get(`/pessoas?id_pessoa=eq.${personUser[0].id_pessoa}`);
            console.log(person[0]);
            this.person = person[0];             
        },

        methods :{
            handleLogout() {
                this.$store.commit("setToken", {token: '' });
                this.$store.commit("setSelectedButton", 0);
                this.$axios.defaults.headers.common['Authorization'] = '';
                this.$store.commit("resetPlan");
            }
        }
    }
</script>

<style lang="scss">
.user-icon {
    margin: 0.5em;
    fill: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.logout {
    align-self: flex-end;
    margin: 0.5em 1em;
}

.logout-icon {
    width: 1.5em;
    height: 1.5em;

    color: white;
}

.user-name {
    color: white;
}

</style>