<template>
    <div>
        <div class="module-title"> {{codigo_modulo}} </div>
        <div class="disciplines">
            <div v-for="discipline of disciplines"
                :key="discipline.id_disciplina">
                <Course :status="''"
                        :discipline="discipline"/>
            </div>
        </div>
    </div>
</template>

<script>
import Course from './Course.vue'

export default {
    data() {
        return {
            disciplines: []
        }
    },

    props: {
        codigo_modulo: '',
        id_modulo: ''
    },

    async mounted() {
      this.disciplines = await this.$axios.$post(`/rpc/modulo_disciplina`, {
          id_modulo: this.id_modulo
      });

      if (this.disciplines.length === 1 && this.disciplines[0].id_disciplina === null){
          this.disciplines = [];
      }
    },

    components: {
        Course
    }
}
</script>

<style lang="scss">
.disciplines {
  background-color: #F5F5F5;
  display: flex;
  flex-wrap: wrap;

  padding: 0.5em;
  margin-bottom: 0.5em;
}

.module-title {
    color:blue;
}
</style>
