<template>
  <aside class="aside">
    <Auth />
    <div class="side-button" @click="setSelectedButton(0)">
      <div v-if="isSelectedButton(0)" class="blueBar"></div>
      <img src="https://cdn4.iconfinder.com/data/icons/collections/32/147-01-512.png" 
            class="new-plan-icon">
      <div>Curso</div>
    </div>
    <div v-if="isAuthenticated" class="width-adjust">
      <div class="side-button" @click="setSelectedButton(1)">
        <div v-if="isSelectedButton(1)" class="blueBar"></div>
        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/1035664-200.png"
              class="double-check-icon">
        <div>Disciplinas cursadas</div>
      </div>
      <div v-for="plan of this.$store.state.plans" :key="plan">
         <div class="side-button" @click="setSelectedButton( plan + 1)">
           <div v-if="isSelectedButton(plan + 1)" class="blueBar"></div>
           <div class="plan">Plano {{plan}}</div>
         </div>
      </div>
    </div>
  </aside>
</template>

<script>
import Auth from '@/components/Auth.vue';
import { mapGetters } from 'vuex';

export default {
  data() {
    return {
      selectedButton: 0
    };
  },

  components: {
    Auth
  },
  
  computed: {
    ...mapGetters(['isAuthenticated', 'isSelectedButton'])
  },

  methods: {
    setSelectedButton(id) {
      if (id !== 0) {
        this.$store.commit("resetNewPlan");
      }
      this.$store.commit("setSelectedButton", id);
    }
  }
}
</script>

<style>
.aside {
  /* Grid to position the cell itself */
  grid-area: aside;
  justify-self: stretch;

  /* Flexbox to align the content in the cell */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #F5F5F5;

  border-right: 1px solid #e6e6e6;

}

.side-button {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  font-size: 1.5em;
}

.new-plan-icon {
  height: 1em;
  width: 0.8em;
  margin: 0.5em;
}

.double-check-icon{
  height: 1em;
  width: 1em;
  margin: 0.5em;
}

.width-adjust {
  width: 100%;
}

.blueBar{
  align-self: stretch;
  width: 1em; 
  background-color: #3F51B5;
}

.plan {
  margin: 0.5em;
}
</style>
