<template>
  <footer class="footer" v-if="isAuthenticated">
    <div class="footer-header">
      <p class="header-title">
        Contagem de créditos (total w / W)
      </p>
    </div>
    <div class="footer-body">
      <div v-for="tipo of tipos" :key="tipo.tipo" class="body-item">
        <p class="title-bar">{{ tipo.tipo }}</p>
        <p class="status-bar">x / X créditos</p>
        <div class="bar">
          <div class="bar-progress" v-bind:style="{width: tipo.percent, backgroundColor: 'blue'}"></div>
          <div class="bar-progress" v-bind:style="{width: tipo.percent, backgroundColor: 'orange'}"></div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  data() {
    return {
      tipos: [{tipo: "Obrigatória", percent:"25%"},
              {tipo: "Eletiva", percent:"15%"},
              {tipo: "Livre", percent:"10%"}]
    };
  },

  computed: {
    ...mapGetters(['isAuthenticated'])
  }
}
</script>


<style>
.footer {
  /* Grid to position the cell itself */
  grid-area: footer;
  place-self: stretch;

  display:grid;

  grid-template-rows: 0.25fr 0.75fr;

  grid-template-areas:
    "header"
    "body";

}

.footer-header {
  grid-area: "header";

  display:flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;

  background-color: #3F51B5;
  color: white;

  font-size: 1em;

  padding: 0em;
}

.header-title {
  margin: 0.5em 0.7em;
}

.footer-body {
  grid-area: "body";

  display:flex;
  justify-content: space-between;

  margin: 1em;
}

.title-bar {
  color:blue;

  margin: 0em;
  margin-bottom: 0.2em;

  font-size: 1em;
}


.status-bar {
  align-self: center;

  margin: 0em;
  margin-bottom: 0.5em;

  font-size: 0.8em;
}

.bar {
  display: flex;
  justify-content: flex-start;

  width: 15em;
  height: 1em;

  background-color: #afafaf;

  border-radius: 0.3em;
}

.bar-progress {
  border-radius: .3em;
}

.body-item{
  display: flex;
  flex-direction: column;

  margin: 1.5em 1.5em;
}
</style>
