<template>
  <nav class="navbar">
    <div class="wrapper-public" v-if="!isAuthenticated">
      <div class="logo">
        <div class="icon"></div>
        <p class="title">DBZ</p>
      </div>
    </div>
    <div v-else class="wrapper-logged">
      <div class="logo">
        <div class="icon"></div>
        <p class="title">DBZ</p>
      </div>
      <div class="saveButton" v-if="isAuthenticated && isSelectedButton(0)"
           @click="savePlan()"> Salvar </div>
    </div>
  </nav>
</template>

<script>
  import { mapGetters } from 'vuex';

  export default {
    computed: {
      ...mapGetters(['isAuthenticated', 'isSelectedButton', 'getNumPlans'])
    },

    methods: {
      async savePlan() {
        //Numero desse plano será a quantidade de planos + 1
        let numPlans = this.getNumPlans + 1;
        let obj = {
          num_plano: numPlans,
          nome_plano: `Plano ${numPlans}`
        };
        this.$store.commit("pushPlan", numPlans);


        //pegar nusp do aluno
        let parsedToken = JSON.parse(atob(this.$store.state.token.split('.')[1]));
        let personUser = await this.$axios.$get(`/pessoas_geram_usuarios?id_usuario=eq.${parsedToken.id_usuario}`);
        let student = await this.$axios.$get(`/alunos?id_pessoa=eq.${personUser[0].id_pessoa}`);

        if(student.length !== 0){
          this.$store.state.newPlan.map( async (discipline) => {
            if(discipline !== null){
              if(discipline.status === 'cursada') {
                let oferecimento = await this.$axios.$get(`/professores_oferecem_disciplinas?id_disciplina=eq.${discipline.id_disciplina}&ano_semestre=eq.${discipline.semestre}`);
                if (oferecimento.length !== 0) {
                  let data = {
                    id_oferecimento: oferecimento[0].id_oferecimento,
                    nusp_aluno:student[0].nusp_aluno,
                    id_pessoa: student[0].id_pessoa,
                    nota: 10.0
                  };
                  console.log(this.$store.state.token)
                  console.log(data);
                  await this.$axios.$post('/alunos_cursam_disciplinas', data);
                }
              }
              else if(discipline.status === 'planejada'){
                let data = {
                  id_pessoa: student[0].id_pessoa,
                  nusp_aluno: student[0].nusp_aluno,
                  id_disciplina: discipline.id_disciplina,
                  ano_semestre: discipline.semestre
                };
                console.log(this.$store.state.token)
                console.log(data);
                await this.$axios.$post('/alunos_planejam_disciplinas', data);
              }
            }
          });
        }
        this.$store.commit("setSelectedButton", numPlans + 1);
      }
    }
  }
</script>


<style>
.navbar {
  /* Grid to position the cell itself */
  grid-area: navbar;
  place-self: stretch;

  background-color: #3F51B5;

  /* FIXME: Border to highlight */
  border: 8px solid #3F51B5;
}

.icon {
  width: 2em;
  height: 2em;
  border-radius: 2em;
  background-color: white;
  margin: 0.5em;
}

.title {
  color: white;

}

.logo {
  display: flex;
  align-items: center;
}

.saveButton {
  margin-right: 1.5em;
  padding: 0.5em 2em;
  border-radius: 0.5em;

  color: white;
  background-color: #FF9800;
}

.wrapper-public {
  /* Flexbox to align the content in the cell */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.wrapper-logged {
  /* Flexbox to align the content in the cell */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
</style>
